<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form name="formreg" method="POST">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td> Name </td>
                <td> <input type="text" name="txt_name" placeholder="Enter Name"
                    value="{{AdminRegistrationOne.admin_name}}"></td>
            </tr>
            <tr>
                <td> Email </td>
                <td> <input type="text" name="txt_email" placeholder="Enter Email"
                    value="{{AdminRegistrationOne.admin_email}}"></td>
            </tr>
            <tr>
                <td> Password </td>
                <td> <input type="text" name="txt_pass" placeholder="Enter Password" 
                    value="{{AdminRegistrationOne.admin_pass}}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="btn_reg" value="SUBMIT">
                </td>
            </tr>
        </table>
    </form>
    <br>
    <table border="1">
        <tr>
            <td>SL NO</td>
            <td>Name</td>
            <td>Email</td>
        
            <td>Action</td>
        </tr>
        {% for i in adm %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.admin_name}}</td>
            <td>{{i.admin_email}}</td>
            <td><a href="{%  url 'Administrator:DeleteAdminRegistration' i.id %}">Delete</a>
            <a href="{% url 'Administrator:UpdateAdminRegistration' i.id %}">Edit</a></td>
        
            
        </tr>
        {% endfor %}
    </table>



</body>

</html>