<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Complaints</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>SlNo</td>
            <td>User Name</td>
            <td>Title</td>
            <td>Content</td>
            <td>Date</td>
            <td>Actions</td>
        </tr>
        {% for i in complaints %}
         <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.user.user_name }}</td>
            <td>{{ i.complaint_title }}</td>
            <td>{{ i.complaint_content }}</td>
            <td>{{ i.complaint_date }}</td>
            <td>
                {% if i.complaint_reply %}
                    Replied
                {% else %}
                     <a href="{% url 'Administrator:Reply' i.id %}">Reply</a>
                {% endif %}

        </tr>
        {% endfor %}
    </table>
</body>
</html>