<!DOCTYPE html>
<html>
<head>
    <title>All Bookings - Admin</title>
</head>
<body>

<h2>All Turf Bookings</h2>

<table border="1" cellpadding="8">

<tr>
    <th>Sl No</th>
    <th>User</th>
    <th>Turf</th>
    <th>Sport</th>
    <th>Slot Time</th>
    <th>Booking Date</th>
    <th>Play Date</th>
    <th>Status</th>
</tr>

{% for b in bookings %}
<tr>

    <td>{{ forloop.counter }}</td>

    <td>{{ b.user.user_name }}</td>

    <td>{{ b.slot.turf.turf_name }}</td>

    <td>{{ b.sport.sports_name }}</td>

    <td>{{ b.slot.slot_time }}</td>

    <td>{{ b.booking_date }}</td>

    <td>{{ b.booking_todate }}</td>


    <td>
        {% if b.booking_status == 0 %}
            Pending
        {% elif b.booking_status == 1 %}
            Confirmed
        {% elif b.booking_status == 2 %}
            Cancelled
        {% elif b.booking_status == 3 %}
            Rejected
        {% elif b.booking_status == 4 %}
            Completed
        {% endif %}
    </td>

</tr>
{% empty %}
<tr>
    <td colspan="8" align="center">No bookings available</td>
</tr>
{% endfor %}

</table>

</body>
</html>