<table border="1">
   <tr>
    <th>Sl No</th>
    <th>Turf Name</th>
    <th>Description</th>
    <th>Contact</th>
    <th>Capacity</th>
    <th>Place</th>
    <th>Image</th>
    <th>Action</th>
</tr>
{% for i,j in data %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.turf_name}}</td>
    <td>{{i.turf_description}}</td>
    <td>{{i.turf_contact_number}}</td>
    <td>{{i.turf_capacity}}</td>

    <td>
    {% for k in ar %}
        {% if k <= j %}
            <i class="fa-solid fa-star" style="color:gold;"></i>
        {% else %}
            <i class="fa-solid fa-star" style="color:lightgray;"></i>
        {% endif %}
    {% endfor %}
</td>

    <td>{{i.place.place_name}}</td>
    <td><img src="{{i.turf_image.url}}" width="60"></td>
    <td>
        <a href="{% url 'User:ViewSlot' i.id %}">View Slot</a>
    </td>
</tr>
{% endfor %}
        </table>