<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Bookings</title>
</head>

<body>

    <h2>My Bookings</h2>

    <table border="1" cellpadding="8">

        <tr>
            <th>Sl No</th>
            <th>Turf</th>
            <th>Slot Time</th>
            <th>Sport</th>
            <th>Booked On</th>
            <th>Play Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for i in bookings %}
        <tr>
            <td>{{forloop.counter}}</td>

            <td>{{i.slot.turf.turf_name}}</td>

            <td>{{i.slot.slot_time}}</td>
            <td>{{i.sport.sports_name}}</td>


            <td>{{i.booking_date}}</td>

            <td>{{i.booking_todate}}</td>


            <td>
                {% if i.booking_status == 0 %}
                Pending
                {% elif i.booking_status == 1 %}
                Confirmed
                {% elif i.booking_status == 2 %}
                Cancelled
                {% elif i.booking_status == 3 %} Rejected
                {% elif i.booking_status == 4 %} Booking Completed

                {% endif %}
            </td>

           <td>
    {% if i.booking_status == 0 %}
        <a href="{% url 'User:CancelBooking' i.id %}">Cancel</a>

    {% elif i.booking_status == 1 %}
        Approved
        <a href="{% url 'User:payment' i.id %}">Pay Now</a>

    {% elif i.booking_status == 2 %}
        Cancelled

    {% elif i.booking_status == 3 %}
        Rejected

    {% elif i.booking_status == 4 %}
        Booking Completed
        <br>
        <a href="{% url 'User:AddRequest' i.id %}">Request Players</a>
    {% endif %}
</td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="8" align="center">No bookings found</td>
        </tr>
        {% endfor %}

    </table>

</body>

</html>
{% if msg %}
<script>
    alert("{{msg}}");
</script>
{% endif %}